<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS</title>
    <script src="node_modules\angular\angular.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="node_modules\bootstrap\dist\css\bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="filter.js"></script>
</head>
<body  ng-app="myModule" >
    <div ng-controller="myController">
        <!-- <div>
            First Name:{{ employee.firstName }}
        </div>
        <div>
            Last Name:{{ employee.lastName }}
        </div>
        <div>
            Gender:{{ employee.gender }}
        </div> -->
        <!-- source binding  -->
        <!-- <img ng-src="{{country.flag}}" alt="{{ country.name + ' Flag' }}" width=200 height=100 >
        <div>Name:{{country.name}}</div>
        <div>Name:{{country.capital}}</div> -->

        <!-- two way data binding -->
        <!-- if model not present it is created -->
        <!-- <div><input type="text" ng-model="greeting"></div>
        <div>{{message}}</div> -->

        <!-- model created  -->
        <!-- <div>{{greeting}}</div> -->
        <!-- <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="e in employees">
                    <td>{{e.firstName}}</td>
                    <td>{{e.lastName}}</td>
                    <td>{{e.gender}}</td>
                </tr>
            </tbody>
        </table> -->

        <!-- <ul>
            <li ng-repeat="country in countries" ng-init="parentIndex=$index">
                {{country.name}}-Index={{$index}}
                 <ul>
                    <li ng-repeat="city in country.cities">
                        {{city}}=Parent Index={{parentIndex}}-Index={{$index}}
                    </li>
                
                 </ul>
            </li>
        </ul> -->

        <!-- Event handling -->
        <!-- <table border="1">
            <thead>
                <tr>
                    <th>Language</th>
                    <th>Likes</th>
                    <th>Dislikes</th>
                    <th>Date</th>
                    <th>Like/Dislike</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in programming">
                    <td>{{p.name}}</td>
                    <td>{{p.likes}}</td>
                    <td>{{p.dislikes}}</td>
                    <td>{{}}</td>
                    <td>
                       
                        <button ng-click="incrementLike(p)">Like</button>
                        <button ng-click="incrementDislike(p)">Dislike</button>
                    
                    </td>
                </tr>
            </tbody>
        </table> -->
        <!-- Rows to display:<input type="number" step="1" min="0" max="5" ng-model="rowLimit">
        Sort By: <select ng-model="sortColumn">
                    <option value="+name">Name ASC</option>
                    <option value="-name">Name DESC</option>
                    <option value="+dob">Date of Birth ASC</option>
                    <option value="-dob">Date of Birth DESC</option>
                    <option value="+salary">Salary ASC</option>
                    <option value="-salary">Salary DESC</option>


                </select> -->
                <!-- <input type="text" ng-model="searchText" placeholder="search employees name & place">
                <input type="checkbox" ng-model="salaryState">Hide Salary -->
                <!-- <input type="text" ng-model="searchText.city" placeholder="search city">
                <input type="checkbox" ng-model="exactMatch">Exact Match -->
                <select ng-model="displayType">
                    <option value="table">Table</option>
                    <option value="list">List</option>
                </select>
                <div ng-include="employeesView()"></div>
        


    </div>
    


    <!-- <div ng-app="imgModule">
        <div ng-controller="imgController"></div>
        {{message}}
        10 + 20 ={{ 10 + 20}}
    </div> -->
    <!-- <div>
        30 + 40 ={{30 + 40}}
    </div>
    <div>
        {{1==3}}
    </div>
    <div>
        {{ {name:'shailesh',id:'93'}.name }}
    </div>
    <div>{{['Aman','Naman'][0]}}</div> -->
    
</body>
</html>