<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service</title>
    <link rel="stylesheet" href="node_modules\bootstrap\dist\css\bootstrap.min.css">
    <script src="node_modules\angular\angular.js"></script>
    <script src="service.js"></script>
    <script src="stringService.js"></script>
</head>
<body>
    <div ng-app="myModule" ng-controller="transformController">
        <table>
            <tr>
                <td>Input</td><td><input type="text" ng-model="input"></td>
            </tr>
            <tr>
                <td>Output</td><td><input type="text" ng-model="output"></td>
            </tr>
            <tr>
                <td></td><td><button ng-click="transformString(input)">Transform</button></td>
            </tr>
        </table>
    </div>
</body>
</html>