<h2>{{title}}</h2>
<div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed sapiente, tempora nihil reprehenderit aperiam non, quo est labore commodi et iste laboriosam a earum nisi eius assumenda odit vel deleniti?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ex ipsam reprehenderit nisi, cum consequuntur dicta qui vero nesciunt quisquam sequi enim rerum deleniti nostrum tempora laboriosam dolores fuga ad?Lorem ipsum dolor sit amet, consectetur adipisicing elit. A expedita quasi harum officia voluptatem ab dolores molestiae consequuntur dolor iusto. Maiores obcaecati iusto quam autem ea ut quas reiciendis omnis.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, soluta? Deleniti, quis quidem quod repellat corrupti excepturi explicabo commodi natus animi dolores laudantium veritatis! Hic esse alias atque at perspiciatis.
    lore.
</div>
<div>##{{homeCtrl.customData}}##</div>
<div>##{{homeCtrl.courseCustomData}}##</div>
<div>
    <ul>
        <li>lorem</li>
        <li>lorem</li>
        <li>ipsum</li>
        <li>lorem</li>
        <li>ipsum</li>
        <li>lorem</li>
    </ul>
</div>